.dg_icon-link_footer-text {
  transition: all 0.5s ease;
  transition-property: color, border;
  font-size: 0.9em;
  font-style: italic;
  margin: 40px 0 0;
}

.dg_icon-link:hover .dg_icon-link_footer-text {
  color: white;
}
