.dg_icon-link_footer-text {
  transition: all 0.5s ease;
  transition-property: color, border;
  font-size: 0.9em;
  font-style: "italic";
  margin: 40px 0 0;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.flexItem {
  flex-wrap: wrap;
  display: flex;
}
.legendStar {
  font-size: 20px;
  color: gray;
}
.ltalicText {
  font-style: italic;
}

label {
  display: inline;
}
input[type="checkbox"] {
  margin-top: 10px;
  bottom: 1px;
  width: 50px;
  -webkit-appearance: checkbox;
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 .dg_checkbox {
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 20px;
  /* margin-bottom: 10px; */
  margin-left:10px;
  padding-left: 40px;
  clear: left;
} 



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.dg_icon-link:hover .dg_icon-link_footer-text {
  color: white;
}
